{% extends "base/base.html" %}
{% load static %}

{% block title %}Acesso negado{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/403.css' %}">
{% endblock %}

{% block content %}
  <div class="erro-403">
    <div class="erro-403-card">
      <div class="erro-403-icon" aria-hidden="true">
        <i class="fa-solid fa-lock"></i>
      </div>
      <h1>Acesso negado</h1>
      <p class="erro-403-mensagem">{{ mensagem }}</p>
      <a href="{{ url_inicio }}" class="btn btn-primary">
        <i class="fa-solid fa-house"></i>
        Ir para minha área
      </a>
    </div>
  </div>
{% endblock %}
