.container-refeitorio{
    margin: 0 auto;
}
form{
    display: flex;
    gap: 8px;
    margin-bottom: 20px;
}
button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    
}
input{
    padding: 5px;
    width: min(300px, 100%);
    border: var(--radius);
    border-color: var(--border);
}
input:focus{
    border-color: var(--accent);

}
table{
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    border-color: black;
}
th{
    background-color: var(--accent);]
    padding: 10px;
}
td{
    padding: 10px;
}
.check{
    text-align: center;
}
.tabela{
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}
.vazia{
    text-align: center;
}