<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard Nutricionista</title>
    <link rel="stylesheet" href="nutricionista.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>

<body>
    <!-- MENU DA PARTE DE CIMA -->
    <header class="topo">
        <div class="logo-topo">
            <div class="logo-area">
                <img src="logo.png" alt="Logo">
                <div class="titulo-logo">
                    <h1>Refeitório</h1>
                    <span>NUTRICIONISTA</span>
                </div>
            </div>
        </div>
        <div class="topo-direita">
            <p>[Dia da Semana], [Data do mês]</p>
            <button><i class="fa-regular fa-bell"></i></button>
            <a href="../accounts/login.html" style="color: inherit; text-decoration: none;">
             <i class="fa-solid fa-arrow-right-from-bracket"></i>
            </a>
        </div>
    </header>
    <div class="container-dashboard">
        <!-- MENU LATERAL -->
        <aside class="sidebar">
            <div class="grupo-menu">
                <h2>GESTÃO</h2>
                <a href="#" class="ativo">
                    <i class="fa-solid fa-table-cells-large"></i>
                    DASHBOARD
                </a>
                <a href="#">
                    <i class="fa-solid fa-utensils"></i>
                    REFEIÇÕES
                </a>
                <a href="#">
                    <i class="fa-solid fa-users"></i>
                    ALUNOS
                </a>
                <a href="#">
                    <i class="fa-solid fa-gear"></i>
                    CONFIGURAÇÕES
                </a>
            </div>
            <div class="grupo-menu">
                <h2>AÇÕES RÁPIDAS</h2>
                <button class="botao-a">
                    <i class="fa-solid fa-plus"></i>
                    NOVA REFEIÇÃO
                </button>
                <a href="reservas.html" class="botao-a" style="text-decoration: none;">
                    <i class="fa-solid fa-bars"></i>
                    RESERVAS DO DIA
                </a>
                <button class="botao-a">
                    <i class="fa-solid fa-user-xmark"></i>
                    ALUNOS BLOQUEADOS
                </button>
            </div>
        </aside>
        <main class="conteudo-dashboard">
            <!-- CARDS SUPERIORES -->
            <section class="cards-topo">
                <div class="card-pequeno"></div>
                <div class="card-pequeno"></div>
                <div class="card-pequeno"></div>
                <div class="card-pequeno"></div>
            </section>

            <!-- SESSÃO PARA REFEIÇÕES -->
            <section class="secao-refeicoes">
                <div class="lado-esquerdo">
                    <h2>REFEIÇÕES DESTA SEMANA</h2>

                    <!-- CARDS PARA AS REFEIÇÕES -->
                    <div class="card-refeicao">
                        <span class="tag-refeicao">[Tipo refeição]</span>
                        <h3>[Refeição]</h3>
                        <p>[Hora] - [Local]</p>
                    </div>
                    <!-- Exemplo Preenchido -->
                    <div class="card-refeicao">
                        <span class="tag-refeicao">Lanche</span>
                        <h3>Fruta e iogurte</h3>
                        <p>15h00 - pátio principal</p>
                    </div>
                    <div class="card-refeicao">
                        <span class="tag-refeicao">Almoço</span>
                        <h3>Feijão, Arroz e peixe</h3>
                        <p>12:30 - Refeitorio</p>
                    </div>
                </div>
                <!-- CARD DA LATERAL-->
                <div class="painel-direito"></div>
            </section>
        </main>
    </div>
</body>
</html>