{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Senha alterada</title>
    <link rel="stylesheet" href="{% static 'css/base.css'%}">
    <link rel="stylesheet" href="{% static 'css/login-style.css' %}">
</head>
<body>
    <div class="caixa-login">
        <img src="{% static 'images/logo.png' %}" alt="logo">

        <div class="texto">
            <h1>Senha alterada</h1>
            <p>Sua senha foi redefinida com sucesso.</p>
        </div>

        <hr>
        <a href="{% url 'accounts:login' %}">Entrar agora</a>
    </div>
</body>
</html>
